.navbar-brand {
    margin-right: 10rem;
}
.navbar-brand img {
    width: 50px;
}
.nav-link {
    margin-left: 20px
}
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-light .navbar-brand {
    color: white
}
.navbar > .container-fluid {
    background-color: #00796b;
    
}
.btn-outline-success {
    background-color: white;
    
}

.pic{
    width: 300px;
    height: 150px;
}

.new{
    width: 300px;
    margin-left: 10px;

}

.post{
    border: solid 2px black;
}


section{
    border: solid 2px black;
    margin-left: 400px;

}


.page{
    display: flex;
    margin-top: 5%;
}

